
/*Generic*/
h1{
    font-size: 60px;
    font-weight: 600;
}
h3{
    font-weight: 500;
}
h4{
    font-size:25px;
}
h6{
    font-weight: 500 ;
    font-size: 20px;
}
h6 a{
    color: black;
}
a:hover{
    text-decoration: none;
    color:rgb(253, 92, 92);
}
/*navbar*/
.upper{
    height: 30px;
    color:white;
    background-color: black;
    font-size: 14px;
    text-align: center;
}
.navbar{
    font-family: 'Assistant', sans-serif;
    color: black;
    font-size: 12px;
    font-weight: 300;
    position: relative;
}
.navbar a{
    color: black;
}
.logo{
    height: 35px;
    width: 140;
}
/*Header Image*/
.headimage{
    object-fit: cover;
    width: 100vw;
    height: calc(100vh - 200px);
}
/* Container holding the image and the text */
.cont {
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Assistant', sans-serif;
  }
.cont a{
    color: white;
    font-weight: none;
}
.bottom-left {
   position: absolute;
   bottom: 25px;
   left: 25px;
}  
.centered {
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%, -50%);
}
/* Style the button and place it in the middle of the container/image */
.cont .btn {
    position: absolute;
    top: 73%;
    left: 50%;
    font-weight: 400;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(54, 54, 54);
    color: white;
    font-size: 18px;
    padding: 10px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
.cont .btn:hover {
    background-color: black;
}

/*Sections*/
.sections{
    display: flex;
    justify-content: space-evenly;
    font-size:12px;
    color:  grey;
    font-family: 'Assistant', sans-serif;
}
.sections img{
    height: 300px;
    width: 200px;
}
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
.navbar1{
    display: inline;
    
}
.nav{
    display: inline;
   
}
.try ul{
        list-style-type: none;
        margin: 0;
        padding: 0;

}